/* body{
    background-color: white;
}

h1{
    font-size: 150px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#PizzaMan{
    width: 15%;
    height: auto;
}

#bar{
    font-family: 'Pacifico', cursive;
}

.guide{
    border: 1px solid black;
    height: 25px;
    width: 150px;
    margin: 1px;
    float: left;
}

.guide:hover{
    color: blue;
    text-decoration: underline;
}

#history{
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: beige;
    border: 1px solid black;
    height: 250px;
    margin: 10px;  
}

#today{
    font-family: 'Pacifico', cursive;
    border: 1px solid black;
    color: red;
    background-color: limegreen;
    font-size: 50px;
    margin: 10px;
}

#today:hover{
    color: white;
}

#photo1{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 400px;
    box-shadow: 5px 5px;
}

#cheese{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    border: 5px solid red;
    background-color: beige;
    padding: 10px;
    margin: 10px;
}

#cheese:hover{
    border: 5px solid limegreen;
}

#name, #price, #flavor{
    font-size: 25px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

#name:hover, #price:hover, #flavor:hover{
    color: red;
}

#photo2{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 400px;
    box-shadow: 5px 5px;
}

#pepperoni{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    background-color: beige;
    border: 5px solid red;
    padding: 10px;
    margin: 10px;
}

#pepperoni:hover{
    border: 5px solid limegreen;
}

#name2, #price2, #flavor2{
    font-size: 25px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

#name2:hover, #price2:hover, #flavor2:hover{
    color: red;
}

#photo3{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 400px;
    box-shadow: 5px 5px;
}

#margarita{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    border: 5px solid red;
    background-color: beige;
    padding: 10px;
    margin: 10px;
}

#margarita:hover{
    border: 5px solid limegreen;
}

#name3, #price3, #flavor3{
    font-size: 25px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

#name3:hover, #price3:hover, #flavor3:hover{
    color:red;
}

#a, #b, #c{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: beige;
}



.list, .time, .social{
    margin: 10px;
    padding: 5px;
}

.list:hover, .time:hover, .social:hover{
    color: limegreen;
}

#fb, #insta{
    height: 55px;
    width: auto;
}
 
#twrt, #yt, #in{
    height: 50px;
    width: auto;
} */








/* body{
    /* background-color: red;
    background-color: green;
    font-size: 40px;
}

#menu{
    background-color: yellow;
}

nav{
    background-color: orange;

}

#menu{
    background-color: yellow;
}

.guide{
    background-color: lime;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange;
    list-style: none;

    display: flex;
    background-color: orange;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}  */